body {
    margin: 0px;
    font-family: Montserrat, sans-serif;
}
header {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(189, 189, 189, 0.571);
    padding: 1rem 0;
    width: 100%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
nav a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
    font-size: 30px;
}
nav a:hover {
    color: #1e94fcb5;
}
#nav_dir {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    /* font-weight: 600; */
    background-color: #1e94fcb5;
    border: none;
    outline: none;
    border-radius: 5%;
    padding: 1rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}
button:hover {
    background: #0e81e6b5;
}
#logo {
    position: static;
    width: 10%;
    background: url(../img/logoavião.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 3%;
}
main{
    width: 100%;
    height: 2100px;
<<<<<<< HEAD
}
#banner{
    width: 100%;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #0e81e6b5;
    background-image: url(../img/banner1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#titulo_incial{
    text-align: center;
}
/* #informacoes{
    width: 100%;
    height: 350px;
    background-color: #0e81e6b5;
} */
#informacoes div {
    display: inline-block;
    width: 25%;
    height: 300px;
    margin-left: 6%;
    margin-top: 10px;
    background-color: #a2d6f9;
}
#image_um, #image_dois, #image_tres{
    width: 100%;
    height: 300px;
    margin-top: auto;
}
#informacoes p{
    text-align: justify;
}
#informacoes h3{
    color: #1E96FC;
}
#informacoes h2{
    text-align: center;
}
#informacoes a{
    text-decoration: none;
    color: #000306;
}
#pacotes{
    width: 100%;
    height: 700px;
    background-color: #0e81e6b5;
}
#pacotes div{
    display: inline-block;
    width: 25%;
    height: 300px;
    margin-left: 6%;
    margin-top: 40px;
    background-color: #a2d6f9;
}
#pacotes h2{
    color: #A2D6F9;
    margin-left: 6%;
    padding-top: 30px;
}
#pacotes h3{
    text-align: center;
}
#pacotes_link{
    text-align: center;
}
#pacotes_link a{
    text-decoration: none;
    color: #000306;
}
#image{ 
    width: 100%;
    height: 300px;
    margin-top: auto;
}
#main_contato{
    width: 100%;
    height: 1400px;

}
#conteudo_contato{
    width: 100%;
    height: 300px;
    background-color: #0e81e6b5;
    margin-top: 10px;
    margin-bottom: 10px;
}
#conteudo_contato div{
    width: 45%;
    height: 230px;
    margin-left: 25%;
}
#conteudo_contato h1{
    text-align: center;
    color: white;
    padding-top: 70px;
    font-size: 55px;
}
#conteudo_contato p{
    text-align: center;
    color: rgb(255, 255, 255);
}
#paragrafo_contato{
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    
}
#formulario{
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* background-color: #1E96FC; */
}
#formulario_contato{
    width: 70%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #0e81e6b5; */
}
#conteudo_formulario{
    text-align: center;
}
=======
}
#banner{
    width: 100%;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #0e81e6b5;
    background-image: url(../img/banner1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#titulo_incial{
    text-align: center;
}
/* #informacoes{
    width: 100%;
    height: 350px;
    background-color: #0e81e6b5;
} */
#informacoes div {
    display: inline-block;
    width: 25%;
    height: 300px;
    margin-left: 6%;
    margin-top: 10px;
    background-color: #a2d6f9;
}
#image_um, #image_dois, #image_tres{
    width: 100%;
    height: 300px;
    margin-top: auto;
}
#informacoes p{
    text-align: justify;
}
#informacoes h3{
    color: #1E96FC;
}
#informacoes h2{
    text-align: center;
}
#informacoes a{
    text-decoration: none;
    color: #000306;
}
#pacotes{
    width: 100%;
    height: 700px;
    background-color: #0e81e6b5;
}
#pacotes div{
    display: inline-block;
    width: 25%;
    height: 300px;
    margin-left: 6%;
    margin-top: 40px;
    background-color: #a2d6f9;
}
#pacotes h2{
    color: #A2D6F9;
    margin-left: 6%;
    padding-top: 30px;
}
#pacotes h3{
    text-align: center;
}
#pacotes_link{
    text-align: center;
}
#pacotes_link a{
    text-decoration: none;
    color: #000306;
}
#image{ 
    width: 100%;
    height: 300px;
    margin-top: auto;
}
>>>>>>> bd8f61ec8db92086e12fbdc078b0248715f0399c
#ativo {
    color: #1e94fcb5;
}

#caixaConteudo{
    width: 100%;
    height: 500px;
    align-content: center;
}

#caixaConteudo2{
    width: 100%;
    height: 500px;
    align-content: center;
}

#conteudo{
    display: inline-block;
    width: 40%;
    height: 300px;
    margin-left: 20px;
}

#integrantes{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width: 100%;;
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
}

#destinosMain{
    width: 70%;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}

/*#imagemSobre{ 
    display: inline-block;
    width: 45%px;
    height: 300px;
    background-image: url(../img/640-summer-vacation-nature-travel-beautiful-summer-landscape-with-chair-beach-umbrella-on-sand-tropical-holiday-coconut-leaf-palm-tree-on-the-beach-with-sun-light-on-blue-sky-sea-and-ocean-background.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}*/

#rodape_caixa{
    display: flexbox;
    width: 820px;
    height: 200px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px 0px;

}

#rodape_caixa a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#rodape1, #rodape2, #rodape3, #rodape4{
    display: inline-block;
    width: 180px;
    height: 150px;
    color: white;
    padding: 0px 10px;
}

footer{
    width: 100%;
    height: 200px;
    background-color: black;
    align-content: center;
    padding: 20px 0px 40px;
}