body {
    margin: 0px;
    font-family: Montserrat, sans-serif;
}
header {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(189, 189, 189, 0.571);
    padding: 1rem 0;
    width: 100%;
    height: 40px;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
nav a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
    font-size: 30px;
}
nav a:hover {
    color: #1e94fcb5;
}
#nav_dir {
    width: 35%;
    display: flex;
    justify-content: space-around;
}
button {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    background-color: #1e94fcb5;
    border: none;
    outline: none;
    border-radius: 5%;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}
button:hover {
    background: #0e81e6b5;
}
#logo {
    position: static;

}
#logo img{
    background-image: url(https://img.pikbest.com/wp/202413/airplane-icon-vector-abstract-or-aeroplane-design-template_10461485.jpg!sw800);
    width: 130%;
    height: 130%;
}